/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* ------------------
    Nav bar Styles 
---------------------*/
.nav-bar {
    /* border: 1px solid red; */
    width: 1080px;
    height: 100px;
    margin: 0 auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-logo {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-logo img {
    width: 35px;
    height: 35px;
    padding-right: 10px;
}

.login-signup {
    /* border: 1px solid aqua; */
    font-size: 18px;
    width: 251px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup a {
    text-decoration: none;
    color: black;
}

.login-signup .log-in {
    /* border: 1px solid red; */
    width: 153px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3366FF;
    color: #FFFFFF;
    margin-left: 30px;
    border-radius: 10px;
}

/* ------------------
    Pet Store Styles 
---------------------*/
.per-store-section {
    /* border: 5px solid green; */
    background-color: #F7F5FD;
}

.pet-store-container {
    /* border: 1px solid red; */
    background-color: #F7F5FD;
    width: 1080px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */

}



.pet-store-container h1 {
    /* border: 1px solid red; */
    font-weight: 600;
    font-size: 80px;
    line-height: 90px;
    color: #2D2D2D;
    margin: 0px;
    margin-bottom: 30px
}

.pet-store-container p {
    font-weight: 400;
    font-size: 18px;
    color: #2D2D2D;
    opacity: 0.5;
    margin: 0px;
    margin-bottom: 41px;
}

.pet-store-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    width: 203px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8D57E;
    color: #2D2D2D;
    border-radius: 10px;
}

/* ----------------------
    Video Section Styles 
-------------------------*/

.video-section {
    /* border: 1px solid red; */
    background-color: #F2FAF8;
}

.video-container {
    /* border: 1px solid rgb(45, 21, 179); */
    background-color: #F2FAF8;
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    border-radius: 10px;
}

/* -------------------------
    Sposner Section Styles 
---------------------------*/

.sponsers-section {
    /* border: 1px solid red; */
    width: 1080px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* -------------------------
    Features Section Styles 
---------------------------*/

.features-section {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-container {
    /* border: 1px solid red; */
    width: 1080px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature {
    text-align: center;
}

.feature h2 {
    font-size: 18px;
    font-weight: 600;
}

.feature p {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.5;
}

/* -----------------------------
    Testimonial Section Styles 
-------------------------------*/

.testimonial-section {
    background-color: #ECE7FB;
    /* border: 1px solid red; */
}

.testimonial-container {
    /* border: 1px solid red; */
    background-color: #ECE7FB;
    margin: 0 auto;
    width: 1080px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.testimonial-comment h2 {
    font-size: 18px;
    font-weight: 600;
}

.testimonial-comment p {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.5;
}

/* -----------------------------
    Contact us Section Styles 
-------------------------------*/

.contact-us-section {
    /* border: 5px solid green; */
    background-color: #F7F5FD;
}

.contact-us-container {
    /* border: 1px solid red; */
    background-color: #F7F5FD;
    width: 1080px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contact-us-container h1 {
    /* border: 1px solid red; */
    font-weight: 600;
    font-size: 80px;
    line-height: 90px;
    color: #2D2D2D;
    margin: 0px;
    margin-bottom: 30px
}

.contact-us-container p {
    font-weight: 400;
    font-size: 18px;
    color: #2D2D2D;
    opacity: 0.5;
    margin: 0px;
    margin-bottom: 41px;
}

.contact-us-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    width: 203px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8D57E;
    color: #2D2D2D;
    border-radius: 10px;
}

/* Mobile Resposive */
@media only screen and (max-width: 688px) {

    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }

    .nav-bar {
        flex-direction: column;
        width: 50%;
    }

    .pet-store-container {
        /* border: 1px solid red; */
        flex-direction: column;
        margin-top: 60px;
        width: 350px;
        height: 940px;
    }

    .pet-store-container img {
        /* margin-top: 30px; */
        width: 350px;
    }

    .pet-store-container a {
        width: 140px;
    }

    .video-container {
        margin-top: 20px;
        /* border: 1px solid red; */
        width: 350px;
        height: 210px;
    }

    .video-container video {
        width: 330px;
    }

    .sponsers-section {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 290px;
    }

    .feature-container {
        /* width: 350px; */
        height: 1200px;
        margin-top: 10px;
        /* border: 1px solid red; */
        flex-direction: column;
    }

    .testimonial-container {
        flex-direction: column;
        width: 350px;
        /* border: 1px solid red; */
        margin-top: 50px;
        height: 900px;
        text-align: center;
    }

    .testimonial-container img {
        width: 300px;
    }

    .testimonial-comment img {
        width: 100px;
    }

    .contact-us-container {
        /* border: 1px solid red; */
        flex-direction: column;
        /* margin-top: 20px; */
        padding-top: 30px;
        width: 350px;
        height: 810px;
    }

    .contact-us-container img {
        /* margin-top: 30px; */
        width: 350px;
    }

    .contact-us-container a {
        width: 140px;
    }
}